<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Task details</h3>
</div>
<div class="modal-body">
    <div class="row margined-task-row">
        <div class="col-xs-4">
            <div class="text-row-body">
                <div class="row">
                    <label for="title">Title:</label>
                    <span id="title">{{task.title}}</span>
                </div>
                <div class="row">
                    <input type="text" ng-model="newTitle"/>
                    <button ng-click="updateTitle(task, newTitle); newTitle=null" class="btn btn-primary">Update title</button>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="text-row-body">
                <label for="board">Board:</label>
                <select id="board" ng-init="selectedBoard=task.board"
                        ng-options="board as board.name for board in boards"
                        ng-model="selectedBoard"
                        ng-change="changeTaskBoard(selectedBoard)"></select>
            </div>
        </div>
        <div class="col-xs-4">
            <label for="currentBoard">Current board:</label>
            <span id="currentBoard">{{task.board.name}}</span>
        </div>
    </div>
    <div class="row margined-task-row">
        <div class="col-xs-8">
            <label for="createdBy">Created by:</label>
            <span id="createdBy">{{task.userFirstName}} {{task.userLastName}}</span>
        </div>
    </div>
    <div class="row margined-task-row">
        <div class="col-xs-8">
                <label for="assignee">Assignee:</label>
                <span id="assignee">{{task.assigneeFirstName}} {{task.assigneeLastName}}</span>
            <button class="btn btn-primary" style="margin-left: 2%" ng-click="assignTaskToCurrentUser()">Assign to me</button>

        </div>
    </div>
    <div class="row margined-task-row">
        <div class="col-xs-6">
            <div class="text-row-body">
                <label for="created">Created:</label>
                <span id="created">{{task.created | date:'yyyy-MM-dd HH:mm'}}</span>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="text-row-body">
                <label for="updated">Updated:</label>
                <span id="updated">{{task.updated | date:'yyyy-MM-dd HH:mm'}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin-left: 3%">
            <div class="row">
                <label for="description">Description:</label>
                <span id="description">{{task.description}}</span>
            </div>
            <div class="row">
                <input type="text" ng-model="newDescription"/>
                <button ng-click="updateDescription(task, newDescription); newDescription=null" class="btn btn-primary">Update description</button>
            </div>
        </div>
    </div>
    <div class="row">
        <label style="margin-left: 5%">Comments:</label>
        <div class="comments-box">
            <div class="row">
                <div class="col-xs-11 comments-list-box" scroll-glue>
                    <ul class="commentList">
                        <li ng-repeat="comment in task.comments">
                            <div class="commenterImage">
                                {{comment.authorFirstName}} {{comment.authorLastName}} <span class="date sub-text">{{comment.date | date:'yyyy-MM-dd HH:mm'}}</span>
                            </div>
                            <div class="commentText">
                                <p class="">{{comment.text}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-11">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="comment">
                        <span class="input-group-btn">
                             <button class="btn btn-default" ng-click="addComment(comment); comment=null" type="button">Add comment</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
