<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Short name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects" >
            <td ng-click="selectProject(project)">{{project.name}}</td>
            <td ng-click="selectProject(project)">{{project.shortName}}</td>
            <td><span ng-click="openDetails(project)" class="glyphicon glyphicon-info-sign"></span></td>
            <td><span ng-click="deleteProject(project)" class="glyphicon glyphicon glyphicon-remove"></span></td>
        </tr>
        </tbody>
    </table>
</div>
