<div>
    <h2>Projects</h2>
    <div class="col-md-3">
        <button class="btn btn-primary" ng-click="createProject()">Create project</button>
        <project-list control="control" select-project="selectProject"></project-list>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary" ng-click="createSprint()">Create sprint</button>
        <sprint-list control="control" select-sprint="selectSprint"></sprint-list>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary" ng-click="createUserStory()">Create user story</button>
        <user-story-list control="control"></user-story-list>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary" ng-click="createTask()">Create task</button>
        <task-list control="control"></task-list>
    </div>
</div>
