<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Project details</h3>
    <div class="row">
        <span class="btn btn-default" ng-repeat="board in project.boards">{{board.name}}
            <i class="glyphicon glyphicon-remove" ng-click="deleteBoard(board)"></i>
        </span>
    </div>
    <div class="row">
        <input type="text" ng-model="board.name">
        <button class="btn btn-primary" ng-click="addBoard(board)">
            Add board
        </button>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <label for="name">Name:</label>
        <span id="name">{{project.name}}</span>
    </div>
    <div class="row">
        <label for="shortName">Short name:</label>
        <span id="shortName">{{project.shortName}}</span>
    </div>
    <div class="row">
        <label for="created">Created:</label>
        <span id="created">{{project.created}}</span>
    </div>
    <div class="row">
        <label for="deadline">Deadline:</label>
        <span id="deadline">{{project.deadline}}</span>
    </div>
    <div class="row">
        <label for="description">Decription:</label>
        <span id="description">{{project.description}}</span>
    </div>ddd
    <div class="row">
        <div class="col-xs-4">
            <label for="projectMembers">Project members:</label>
            <select id="projectMembers" class="form-control btn btn-primary dropdown-toggle" data-ng-options="member.login for member in members"
                    data-ng-model="selectedMember">
                <option ng-repeat="member in members"><a href="#">member.login</a></option>
            </select>
        </div>
    </div>
    <div class="row">
        <label for="addMember"></label>
        <input id="addMember" ng-model="email" class="form-control input-md" type="text">
        <button class="btn btn-primary" ng-click="addMember(email)">Add member</button>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default">Close</button>
</div>
