<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sprint in sprints" >
            <td ng-click="selectSprint(sprint)">{{sprint.number}}</td>
            <td ng-click="selectSprint(sprint)">{{sprint.name}}</td>
            <td ng-click="selectSprint(sprint)">{{sprint.start | date:'yyyy-MM-dd HH:mm'}}</td>
            <td ng-click="selectSprint(sprint)">{{sprint.end | date:'yyyy-MM-dd HH:mm'}}</td>
            <td><span ng-click="openDetails(sprint)" class="glyphicon glyphicon-info-sign"></span></td>
            <td><span ng-click="remove(sprint)" class="glyphicon glyphicon-remove"></span></td>
        </tr>
        </tbody>
    </table>
</div>
