<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Updated</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks">
            <td>{{task.title}}</td>
            <td>{{task.created}}</td>
            <td>{{task.updated}}</td>
            <td><span ng-click="openDetails(task)" class="glyphicon glyphicon-info-sign"></span></td>
        </tr>
        </tbody>
    </table>
</div>
