<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Updated</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks">
            <td>{{task.title}}</td>
            <td>{{task.created | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>{{task.updated | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>
                <span ng-click="openDetails(task)" class="glyphicon glyphicon-info-sign"></span>
                <span ng-if="!assigned" ng-click="moveUp(task)" class="glyphicon glyphicon-arrow-up"></span>
                <span ng-if="!assigned" ng-click="moveDown(task)" class="glyphicon glyphicon-arrow-down"></span>
            </td>
            <td>
                <span ng-if="!assigned" ng-click="remove(task)" class="glyphicon glyphicon-remove"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
